<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directive Scopes</title>
    <script src="../angular-1.4.9/angular.js"></script>
    <link href="../bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../bootstrap-3.3.6-dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <script type="text/ng-template" id="scopeTemplate">
        <div class="panel-body">
            <p>Name: <input ng-model="data.name"/></p>
            <P>City: <input ng-model="city"/></P>
            <p>Country: <input ng-model="country"</p>
        </div>
    </script>
    <script type="text/javascript">
        angular.module("exampleApp", [])
            .directive("scopeDemo", function(){
                return {
                    template: function(){
                        return angular.element(document.querySelector("#scopeTemplate")).html();
                    },
                    scope: true
                } 
            })
            .controller("scopeCtrl", function($scope){
                $scope.data={name: "Adam"};
                $scope.city="London";
            });
    </script>
</head>
<body ng-controller="scopeCtrl" >
    <div class="panel panel-default">
        <div class="panel-body" scope-demo></div>
        <div class="panel-body" scope-demo></div>
    </div>
</body>
</html>